@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/
$logo-shadow-color: rgba(255, 255, 0, 1);

.logo-img-container {
  background-color: $logo-shadow-color;
  box-shadow: 0px 0px 12px 12px $logo-shadow-color;
  -webkit-box-shadow: 0px 0px 12px 12px $logo-shadow-color;
  -moz-box-shadow: 0px 0px 12px 12px $logo-shadow-color;

  > img {
    width: 200px;
  }

  @media (max-width: 1280px) {
    > img {
      width: 150px;
    }
  }

  @media (max-width: 960px) {
    > img {
      width: 100px;
    }
  }

  @media (max-width: 600px) {
    > img {
      width: 70px;
    }
  }
}
