@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/

.top-margin {
  padding-top: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

$logo-shadow-color: rgba(255, 255, 0, 1);

.logo-img-container {
  background-color: $logo-shadow-color;
  box-shadow: 0px 0px 12px 12px $logo-shadow-color;
  -webkit-box-shadow: 0px 0px 12px 12px $logo-shadow-color;
  -moz-box-shadow: 0px 0px 12px 12px $logo-shadow-color;

  > img {
    width: 200px;
  }

  @media (max-width: 1280px) {
    box-shadow: 0px 0px 10px 10px $logo-shadow-color;
    -webkit-box-shadow: 0px 0px 10px 10px $logo-shadow-color;
    -moz-box-shadow: 0px 0px 10px 10px $logo-shadow-color;
    > img {
      width: 150px;
    }
  }

  @media (max-width: 960px) {
    box-shadow: 0px 0px 8px 8px $logo-shadow-color;
    -webkit-box-shadow: 0px 0px 8px 8px $logo-shadow-color;
    -moz-box-shadow: 0px 0px 8px 8px $logo-shadow-color;
    > img {
      width: 100px;
    }
  }

  @media (max-width: 600px) {
    box-shadow: 0px 0px 5px 5px $logo-shadow-color;
    -webkit-box-shadow: 0px 0px 5px 5px $logo-shadow-color;
    -moz-box-shadow: 0px 0px 5px 5px $logo-shadow-color;
    > img {
      width: 70px;
    }
  }
}

// .custom-modal {
//   font-size: 12px;
// }
// .custom-modal > .header {
//   width: 100%;
//   border-bottom: 1px solid gray;
//   font-size: 18px;
//   text-align: center;
//   padding: 5px;
// }
// .custom-modal > .content {
//   width: 100%;
//   padding: 10px 5px;
// }
// .custom-modal > .actions {
//   width: 100%;
//   padding: 10px 5px;
//   margin: auto;
//   text-align: center;
// }
// .custom-modal > .close {
//   cursor: pointer;
//   position: absolute;
//   display: block;
//   padding: 2px 5px;
//   line-height: 20px;
//   right: -10px;
//   top: -10px;
//   font-size: 24px;
//   background: #ffffff;
//   border-radius: 18px;
//   border: 1px solid #cfcece;
// }
